form {
  #tours {
    .panel-heading {
      cursor: pointer;

      &:hover {
        background: rgba(87, 165, 247, 0.44);
      }
    }

    #tours-list {
      padding: $tours-list-padding;
      display: none;

      ul {
        margin: 0;
        cursor: pointer;
      }
    }
  }

  span.ui-selectmenu-button {
    background: $form-selectmenu-background;
    color: $form-selectmenu-color;
  }

  #cart {
    margin-bottom: 0;
  }

  #book {
    margin: 20px;
  }
}