$body-margin-top: 20px;
$body-margin-bottom: 20px;
$body-font-family: Calibri;
$body-font-size: 18px;
$body-background: #c1c8ff;

$form-selectmenu-background: white;
$form-selectmenu-background-hover: #b5d5f7;
$form-selectmenu-color: #31708f;

$tours-list-padding: 0;

$misc-placeholder-color: #9d9d9d;
$misc-glyphicon-trash-color: #ff9d89;
$misc-glyphicon-trash-color-hover: red;